<!doctype html>
<html lang="en" data-theme="pastel">
  <%- include('./src/partials/head.ejs', { title: 'Terms and Services: Luma', description: 'Review the terms and conditions for your stay at Luma Goa.' }) %>
  <body class="bg-white pt-25 font-sans text-gray-900 antialiased md:pt-25">
    <!-- Header -->
    <%- include('./src/partials/header.ejs') %>

    <section>
      <div class="container mx-auto px-4 py-4 md:px-6 md:py-16">
        <div class="mx-auto prose">
          <h1 class="font-display text-2xl md:text-5xl">
            Terms and Services – Luma
          </h1>
          <p>
            Welcome to Luma! To ensure a relaxing and enjoyable experience for
            all our guests, please take a moment to review our terms and
            conditions carefully. By confirming your booking with us, you agree
            to these terms:
          </p>
          <h2 class="font-display">Reservation and Check-In</h2>
          <ul>
            <li><p>Check-in time is from 2:00 PM onwards.</p></li>
            <li><p>Check-out time is by 11:00 AM.</p></li>
            <li>
              <p>
                Early check-in and late check-out requests are subject to
                availability and may incur additional charges.
              </p>
            </li>
          </ul>
          <h2 class="font-display">Quiet and Peaceful Atmosphere</h2>
          <ul>
            <li>
              <p>
                Music Policy: To maintain tranquility, playing music is strictly
                prohibited in all areas of the resort, including guest rooms.
              </p>
            </li>
            <li>
              <p>
                Please respect other guests by keeping noise levels to a
                minimum, especially between 10:00 PM and 8:00 AM.
              </p>
            </li>
          </ul>
          <h2 class="font-display">Pets Policy</h2>
          <ul>
            <li>
              <p>
                Although we love animals, pets are not permitted at Luma. This
                policy helps ensure the safety and comfort of all guests,
                considering potential allergies, fears, and interactions with
                local animals.
              </p>
            </li>
          </ul>
          <h2 class="font-display">Smoking Policy</h2>
          <ul>
            <li>
              <p>
                For your health and the comfort of all our guests, Luma is a
                completely non-smoking property, including all rooms and common
                areas.
              </p>
            </li>
            <li>
              <p>
                A cleaning fee may apply if evidence of smoking is found within
                resort premises.
              </p>
            </li>
          </ul>
          <h2 class="font-display">Electricity Disclaimer</h2>
          <ul>
            <li>
              <p>
                The electricity supply in South Goa can be unpredictable.
                Occasionally, there may be interruptions in electricity supply,
                affecting the huts and common areas. While we regret any
                inconvenience this may cause, these situations are beyond our
                control. We encourage guests to embrace these moments as part of
                their authentic holiday experience in India.
              </p>
            </li>
          </ul>
          <h2 class="font-display">Parking Facilities</h2>
          <ul>
            <li>
              <p>
                Complimentary parking spaces are available at Luma. Parking is
                provided on a first-come, first-served basis and is subject to
                availability.
              </p>
            </li>
            <li>
              <p>
                Please note that the resort assumes no responsibility for loss
                or damage to vehicles parked on our property.
              </p>
            </li>
          </ul>
          <h2 class="font-display">Guest Responsibilities</h2>
          <ul>
            <li>
              <p>
                Guests are responsible for maintaining cleanliness and treating
                resort property with care.
              </p>
            </li>
            <li>
              <p>
                Damages caused to property, fixtures, or fittings will incur
                additional charges.
              </p>
            </li>
          </ul>
          <h2 class="font-display">Liability</h2>
          <ul>
            <li>
              <p>
                Luma does not accept responsibility for loss or damage to
                personal belongings. Guests are advised to use the safes
                provided in rooms to store valuables securely.
              </p>
            </li>
          </ul>
          <h2 class="font-display">Cancellation Policy</h2>
          <ul>
            <li>
              <p>
                Cancellations or amendments to bookings are subject to the
                resort’s cancellation policy, which you will receive upon
                booking confirmation.
              </p>
            </li>
          </ul>
          <p>
            Thank you for choosing Luma. We look forward to providing you with a
            serene and unforgettable stay!
          </p>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <%- include('./src/partials/footer.ejs') %>
  </body>
</html>
