<!doctype html>
<html lang="en" data-theme="pastel">
  <%- include('./src/partials/head.ejs', { title: 'Terms and Services: Luma', description: 'Review the terms and conditions for your stay at Luma Goa.' }) %>
  <body class="bg-white pt-25 font-sans text-gray-900 antialiased md:pt-25">
    <!-- Header -->
    <%- include('./src/partials/header.ejs') %>

    <section>
      <div class="container mx-auto px-4 py-4 md:px-6 md:py-16">
        <div class="mx-auto prose">
          <h1 class="font-display text-2xl md:text-5xl mb-1">
            Terms and Services – Luma
          </h1>
          <h2 class="mt-0 pt-0">(PURALOBO HOSPITALITY PVT LTD)</h2>

          <p>
            Welcome to Luma! To ensure a relaxing and enjoyable experience for
            all our guests, please take a moment to review our terms and
            conditions carefully. By confirming your booking with us, you agree
            to these terms:
          </p>

          <h2 class="font-display">Reservation and Check-In</h2>
          <ul>
            <li>Check-in time is from 2:00 PM onwards.</li>
            <li>Check-out time is by 11:00 AM.</li>
            <li>
              Early check-in and late check-out requests are subject to availability
              and may incur additional charges.
            </li>
          </ul>

          <h2 class="font-display">Quiet and Peaceful Atmosphere</h2>
          <ul>
            <li>
              Music Policy: To maintain tranquility, playing music is strictly
              prohibited in all areas of the resort, including guest rooms.
            </li>
            <li>
              Please respect other guests by keeping noise levels to a minimum,
              especially between 10:00 PM and 8:00 AM.
            </li>
          </ul>

          <h2 class="font-display">Pets Policy</h2>
          <ul>
            <li>
              Although we love animals, pets are not permitted at Luma. This policy
              helps ensure the safety and comfort of all guests, considering
              potential allergies, fears, and interactions with local animals.
            </li>
          </ul>

          <h2 class="font-display">Smoking Policy</h2>
          <ul>
            <li>
              For your health and the comfort of all our guests, Luma is a
              completely non-smoking property, including all rooms and common areas.
            </li>
            <li>
              A cleaning fee may apply if evidence of smoking is found within resort
              premises.
            </li>
          </ul>

          <h2 class="font-display">Electricity Disclaimer</h2>
          <ul>
            <li>
              The electricity supply in South Goa can be unpredictable.
              Occasionally, there may be interruptions in electricity supply,
              affecting the huts and common areas. While we regret any inconvenience
              this may cause, these situations are beyond our control. We encourage
              guests to embrace these moments as part of their authentic holiday
              experience in India.
            </li>
          </ul>

          <h2 class="font-display">Parking Facilities</h2>
          <ul>
            <li>
              Complimentary parking spaces are available at Luma. Parking is
              provided on a first-come, first-served basis and is subject to
              availability.
            </li>
            <li>
              Please note that the resort assumes no responsibility for loss or
              damage to vehicles parked on our property.
            </li>
          </ul>

          <h2 class="font-display">Guest Responsibilities</h2>
          <ul>
            <li>
              Guests are responsible for maintaining cleanliness and treating resort
              property with care.
            </li>
            <li>
              Damages caused to property, fixtures, or fittings will incur
              additional charges.
            </li>
          </ul>

          <h2 class="font-display">Liability</h2>
          <ul>
            <li>
              Luma does not accept responsibility for loss or damage to personal
              belongings. Guests are advised to use the safes provided in rooms to
              store valuables securely.
            </li>
          </ul>

          <h2 class="font-display">Cancellation and Refund Policy</h2>
          <ul>
            <li>
              A 50% deposit is required at the time of booking to confirm your
              reservation.
            </li>
            <li>
              This deposit is fully refundable if the cancellation is made up to 15
              days prior to the arrival date.
            </li>
            <li>
              If the cancellation is made within 15 days of the arrival date, the
              50% deposit will be retained, and 50% of the total booking amount is
              due.
            </li>
            <li>
              During high season (December 15th to January 15th), the cancellation
              period is extended to 30 days instead of 15 days. Cancellations within
              this 30-day window will result in the retention of the 50% deposit.
            </li>
            <li>
              All cancellations or amendments must be made in writing and are
              subject to this policy. Refunds, if applicable, will be processed
              within 7-10 business days.
            </li>
          </ul>

          <p>
            Thank you for choosing Luma. We look forward to providing you with a
            serene and unforgettable stay!
          </p>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <%- include('./src/partials/footer.ejs') %>
  </body>
</html>
