<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <meta name="description" content="<%= description %>" />
  <meta
    name="keywords"
    content="Goa resort, Palolem beach huts, yoga retreat Goa, South Goa accommodation"
  />
  <meta
    property="og:title"
    content="Luma: Cozy A-Frame Huts & Yoga Retreat in South Goa"
  />
  <meta property="og:image" content="/img/logo-sq.svg" />
  <link rel="stylesheet" href="/src/styles.css" />
  <link rel="icon" href="/img/favicon.png" type="image/png" sizes="256x256" />
  <link rel="canonical" href="https://lumagoa.com/" />

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Hotel",
      "name": "Luma",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Palolem Down St, Palolem, Canacona",
        "addressLocality": "South Goa",
        "postalCode": "403702",
        "addressCountry": "IN"
      },
      "telephone": "+91 808 772 34 55",
      "image": "https://lumagoa.com/img/logo-sq.svg",
      "priceRange": "$$",
      "description": "Serene A-frame huts with open-sky bathrooms in South Goa."
    }
  </script>
</head>
